version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: rpg
      POSTGRES_PASSWORD: rpg
      POSTGRES_DB: rpg_gym
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
